.AnimeCard {
    width: 248px;
    height: 351px;
    border-radius: 15px;
    position: relative;
    margin-right: 40px;
}

.AnimeCard:hover {
    cursor: pointer;
}

.AnimeCard__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.AnimeCard__figcaption {
    width: 100%;
    height: 60px;
    padding: 8px;
    background: rgba(14, 14, 44, 0.7);
    border-radius: 0px 0px 15px 15px;

    position: absolute;
    bottom: 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 135%;

    text-align: center;

    color: #eceff3;
}
