.Main {
   padding: 80px;
}

.gallery {
   width: 1112px;
   margin-bottom: 80px;
   overflow: scroll;
}

.gallery::-webkit-scrollbar {
   display: none;
}

.gallery__row {
   display: flex;
   width: fit-content;
}
