.AnimeForm h2 {
    margin-top: 80px;
    margin-bottom: 20px;
}

.input {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #282c34;
    margin-bottom: 32px;
}

.input input {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 135%;
    margin-top: 12px;

    color: #282c34;
    padding: 12px;

    border: 1px solid #282c34;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
}

.input input:focus-visible {
    color: #282c34;
    border: 2px solid #c678dd;
}

button {
    min-width: 140px;
    height: 48px;
    padding: 8px;
    background: #282c34;
    border-radius: 30px;
    outline: none;
    border: none;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 135%;

    color: #eceff3;
}

button:hover {
    filter: brightness(140%);
    box-shadow: 0px 4px 4px rgba(40, 44, 52, 0.25);
}
