@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,400&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

hr {
   border: 0.5px solid #c678dd;
}

/* Rules for sizing the icon. */
.md-18 {
   font-size: 18px;
}
.md-24 {
   font-size: 24px;
}
.md-36 {
   font-size: 36px;
}
.md-48 {
   font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.md-dark {
   color: rgba(40, 44, 52, 0.54);
}
.md-dark-inactive {
   color: rgba(40, 44, 52, 0.26);
}

/* Rules for using icons as white on a dark background. */
.md-light {
   color: rgba(236, 239, 243, 1);
}
.md-light-inactive {
   color: rgba(236, 239, 243, 0.3);
}

.Btn {
   min-width: 140px;
   height: 48px;
   padding: 8px;
   background: #282c34;
   border-radius: 30px;
   outline: none;
   border: none;

   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 135%;

   color: #eceff3;
}

.Btn:hover {
   filter: brightness(140%);
   box-shadow: 0px 4px 4px rgba(40, 44, 52, 0.25);
}

.Btn--Box,
.Btn--Icon {
   position: relative;
}

.Btn--Box .Btn {
   min-width: 48px;
   border-radius: 12px;
}

.Btn--Icon--left .Btn {
   padding-left: 40px;
   padding-right: 16px;
}

.Btn--Icon--left .Btn__Icon {
   height: 15px;
   transform: translate(110%, 110%);
}

.Btn--Icon--right .Btn {
   padding-right: 40px;
}

.Btn--Icon--right .Btn__Icon {
   height: 15px;
   left: auto;
   right: 0;
   transform: translate(-110%, 110%);
}

.Btn__Icon {
   position: absolute;
   left: 0;
   top: 0;
   transform: translate(50%, 50%);
}

.clickable {
   cursor: pointer;
}
